body {
    background: #F46622;
}

#books {
    display: flex;
    margin-top: 2.5em;
    flex-wrap: wrap;
    margin-left: 0.25vw;
    width: 95%
}

.book, #add-book, #form, p {
    box-shadow: 0.5em 0.5em #0000009f;
}

.book {
    background: #0A73A4;
    padding: 1em 0 1em 2em;
    width: 20%;
    margin-left: 2em;
}

li, #add-book, #form, .remove, .read {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

li {
    color: #F8F1C1;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style: none;
}

.title {
    font-family: 'Baskerville', serif;
    font-size: 1.5em;
}

.author, .title {
    font-weight: bold;
}

#add-book:hover, .submit:hover, .read:hover, .remove:hover {
    cursor: pointer;
}

#add-book {
    position: fixed;
    border: none;
    padding: 0.5em 1.2em 0.5em 1.2em;
    background: #82D7F0;
    top: 0.7em;
    width: 7em;
}

#add-book:hover {
    background: #ECF1EB;
    color: #F46622;
}

.read {
    border: none;
    background: #F8F1C1;
    margin-top: 0.6em;
    padding: 0.3em 0.5em;
    color: #0A73A4;
}

.read:hover {
    background: #fff;
}

.remove {
    border: none;
    background: red;
    color: white;
    padding: 0.3em 1.3em;
}

.remove:hover {
    background: white;
    color: red;
}

#form {
    background: #82D7F0;
    width: max-content;
    padding: 2em;
    position: fixed;
    top: 5em;
}

#title-input, #author-input, #pages-input {
    margin: 0.25em 0 0.25em 0;
}

p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 1em;
    left: 43%;
    color: white;
    padding: 0.4em;
    background: black;
    box-shadow: 0.25em 0.25em #0000009f;
}

a, a:visited {
    text-decoration: none;
    color: #F8F1C1;
    font-weight: bold;
}

a:hover {
    color: #0A73A4;
}

/* remove number increment arrows */

/* Chrome, Safari, Edge, Opera */

#pages-input::-webkit-outer-spin-button, #pages-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

#pages-input[type=number] {
    -moz-appearance: textfield;
}